*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

html, body{
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(170, 180, 188);
}

.panel{
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
}

.panel-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 0 25%;
    max-width: 100%;
    height: 100px;
    background-color: rgb(68, 68, 68);
    color: #fff;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
}

.panel-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #000;
    color:#fff;
}

.bubble{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:50px;
    color:white;
    background-color: rgb(100, 177, 240);
    border-radius: 50%;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(46, 118, 177) ;
}