<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container bg-zinc-800 w-screen h-screen flex flex-col justify-start items-center">
        <div class="nav m-2">
            <a class="block bg-blue-900 text-white m-2 p-2 rounded-md pointer" href="/read">See Users</a>
        </div>
        <form action="/create" method="POST" class="w-1/2 h-1/2 mt-2 p-3 bg-zinc-200 bg-opacity-10 text-white rounded-md flex flex-wrap justify-center items-center">
            <label for="name" class="inline-block m-2 p-1 text-xl tracking-tighter">Name</label>
            <input type="text" name="name" class="block rounded-md outline-none ring-1 p-2 text-black w-full"  placeholder="Name"/>
            <label for="email" class="inline-block m-2 p-1 text-xl tracking-tighter">Email</label>
            <input type="text" name="email" class="block rounded-md outline-none ring-1 p-2 text-black w-full"  placeholder="something@xyz.com"/>
            <label for="profilePicUrl" class="inline-block m-2 p-1 text-xl tracking-tighter">Profile Pic URL</label>
            <input type="text" name="profilePicUrl" class="block rounded-md outline-none ring-1 p-2 text-black w-full"  placeholder="xyz.com"/>

            <input type="submit" value="Create User" class="bg-blue-900 p-2 rounded-md m-2"/>
        </form>
    </div>
</body>
</html>